<head><link rel="stylesheet" href="https:\/\/distrotube.com/css/style.css">
<title># DistroTube Videos from 2019 (sorted in reverse order)</title>
<pre>
     __ __       _______ _______ _____ _______ 
 .--|  |  |_    |       |   _   | _   |   _   |
 |  _  |   _|   |___|   |.  |   |.|   |   |   |
 |_____|____|    /  ___/|.  |   `-|.  |\___   |
                |:  1  \|:  1   | |:  |:  1   |
                |::.. . |::.. . | |::.|::.. . |
                `-------`-------&#39 `---`-------&#39

</pre>
<br/>
<h1>DistroTube Videos from 2019 (sorted in reverse order)</h1>
<br/>
TITLE: Chat With Patrons (December 29, 2019)<br/>
<a href="https://odysee.com/@DistroTube:2/chat-with-patrons-december-29-2019:e">https://odysee.com/@DistroTube:2/chat-with-patrons-december-29-2019:e</a><br/>
<br/>
TITLE: A Look Back At  2019 And Predicting 2020<br/>
<a href="https://odysee.com/@DistroTube:2/a-look-back-at-2019-and-predicting-2020:9">https://odysee.com/@DistroTube:2/a-look-back-at-2019-and-predicting-2020:9</a><br/>
<br/>
TITLE: Qtile - Configuring Your Layouts<br/>
<a href="https://odysee.com/@DistroTube:2/qtile-configuring-your-layouts:e">https://odysee.com/@DistroTube:2/qtile-configuring-your-layouts:e</a><br/>
<br/>
TITLE: Debian Debates Systemd Alternatives<br/>
<a href="https://odysee.com/@DistroTube:2/debian-debates-systemd-alternatives:6">https://odysee.com/@DistroTube:2/debian-debates-systemd-alternatives:6</a><br/>
<br/>
TITLE: My Opinions Are Worthless<br/>
<a href="https://odysee.com/@DistroTube:2/my-opinions-are-worthless:6">https://odysee.com/@DistroTube:2/my-opinions-are-worthless:6</a><br/>
<br/>
TITLE: &#39Tis The Season To Give - DT LIVE<br/>
<a href="https://odysee.com/@DistroTube:2/tis-the-season-to-give-dt-live:6">https://odysee.com/@DistroTube:2/tis-the-season-to-give-dt-live:6</a><br/>
<br/>
TITLE: Doom Emacs - Getting Started<br/>
<a href="https://odysee.com/@DistroTube:2/doom-emacs-getting-started:4">https://odysee.com/@DistroTube:2/doom-emacs-getting-started:4</a><br/>
<br/>
TITLE: Qtile - Getting Started And Setting Workspaces<br/>
<a href="https://odysee.com/@DistroTube:2/qtile-getting-started-and-setting:b">https://odysee.com/@DistroTube:2/qtile-getting-started-and-setting:b</a><br/>
<br/>
TITLE: Espanso Is A Cross Platform Text Expander<br/>
<a href="https://odysee.com/@DistroTube:2/espanso-is-a-cross-platform-text:a">https://odysee.com/@DistroTube:2/espanso-is-a-cross-platform-text:a</a><br/>
<br/>
TITLE: Elementary OS 5.1 &quotHera&quot - Imaginative and Visionary<br/>
<a href="https://odysee.com/@DistroTube:2/elementary-os-5-1-hera-imaginative-and:d">https://odysee.com/@DistroTube:2/elementary-os-5-1-hera-imaginative-and:d</a><br/>
<br/>
TITLE: Playing The Trombone For The First Time In Months<br/>
<a href="https://odysee.com/@DistroTube:2/playing-the-trombone-for-the-first-time:3">https://odysee.com/@DistroTube:2/playing-the-trombone-for-the-first-time:3</a><br/>
<br/>
TITLE: Affordable XLR Mic For Streamers<br/>
<a href="https://odysee.com/@DistroTube:2/affordable-xlr-mic-for-streamers:4">https://odysee.com/@DistroTube:2/affordable-xlr-mic-for-streamers:4</a><br/>
<br/>
TITLE: The Basics of Emacs as a Text Editor<br/>
<a href="https://odysee.com/@DistroTube:2/the-basics-of-emacs-as-a-text-editor:a">https://odysee.com/@DistroTube:2/the-basics-of-emacs-as-a-text-editor:a</a><br/>
<br/>
TITLE: Why Use CAT Or GREP When You Can AWK?<br/>
<a href="https://odysee.com/@DistroTube:2/why-use-cat-or-grep-when-you-can-awk:a">https://odysee.com/@DistroTube:2/why-use-cat-or-grep-when-you-can-awk:a</a><br/>
<br/>
TITLE: A Simple File Manager Using Dmenu<br/>
<a href="https://odysee.com/@DistroTube:2/a-simple-file-manager-using-dmenu:3">https://odysee.com/@DistroTube:2/a-simple-file-manager-using-dmenu:3</a><br/>
<br/>
TITLE: Looking For Feedback On Ways To Improve My Channel<br/>
<a href="https://odysee.com/@DistroTube:2/looking-for-feedback-on-ways-to-improve:1">https://odysee.com/@DistroTube:2/looking-for-feedback-on-ways-to-improve:1</a><br/>
<br/>
TITLE: Is Arch The New Ubuntu?<br/>
<a href="https://odysee.com/@DistroTube:2/is-arch-the-new-ubuntu:8">https://odysee.com/@DistroTube:2/is-arch-the-new-ubuntu:8</a><br/>
<br/>
TITLE: Netris Is An Online Multiplayer Tetris Clone<br/>
<a href="https://odysee.com/@DistroTube:2/netris-is-an-online-multiplayer-tetris:d">https://odysee.com/@DistroTube:2/netris-is-an-online-multiplayer-tetris:d</a><br/>
<br/>
TITLE: Quick Look At The NomadBSD Live System<br/>
<a href="https://odysee.com/@DistroTube:2/quick-look-at-the-nomadbsd-live-system:b">https://odysee.com/@DistroTube:2/quick-look-at-the-nomadbsd-live-system:b</a><br/>
<br/>
TITLE: Stumpwm Is One Strange Window Manager<br/>
<a href="https://odysee.com/@DistroTube:2/stumpwm-is-one-strange-window-manager:0">https://odysee.com/@DistroTube:2/stumpwm-is-one-strange-window-manager:0</a><br/>
<br/>
TITLE: Clean Up Your Audio With Audacity<br/>
<a href="https://odysee.com/@DistroTube:2/clean-up-your-audio-with-audacity:e">https://odysee.com/@DistroTube:2/clean-up-your-audio-with-audacity:e</a><br/>
<br/>
TITLE: The Scariest Film Of All Time<br/>
<a href="https://odysee.com/@DistroTube:2/the-scariest-film-of-all-time:c">https://odysee.com/@DistroTube:2/the-scariest-film-of-all-time:c</a><br/>
<br/>
TITLE: A Linuxy Live Stream<br/>
<a href="https://odysee.com/@DistroTube:2/a-linuxy-live-stream:c">https://odysee.com/@DistroTube:2/a-linuxy-live-stream:c</a><br/>
<br/>
TITLE: Cancel Culture and Safe Spaces Destroying Linux<br/>
<a href="https://odysee.com/@DistroTube:2/cancel-culture-and-safe-spaces:b">https://odysee.com/@DistroTube:2/cancel-culture-and-safe-spaces:b</a><br/>
<br/>
TITLE: Transparency With The Compton Compositor<br/>
<a href="https://odysee.com/@DistroTube:2/transparency-with-the-compton-compositor:d">https://odysee.com/@DistroTube:2/transparency-with-the-compton-compositor:d</a><br/>
<br/>
TITLE: Completing Our Bash Script - More With Variables, Arrays And If-Then Statements<br/>
<a href="https://odysee.com/@DistroTube:2/completing-our-bash-script-more-with:f">https://odysee.com/@DistroTube:2/completing-our-bash-script-more-with:f</a><br/>
<br/>
TITLE: Thousands Flock To See Trump<br/>
<a href="https://odysee.com/@DistroTube:2/thousands-flock-to-see-trump:e">https://odysee.com/@DistroTube:2/thousands-flock-to-see-trump:e</a><br/>
<br/>
TITLE: Listen To Podcasts In The Terminal With Castero<br/>
<a href="https://odysee.com/@DistroTube:2/listen-to-podcasts-in-the-terminal-with:d">https://odysee.com/@DistroTube:2/listen-to-podcasts-in-the-terminal-with:d</a><br/>
<br/>
TITLE: Does Linux Marketing Really Suck?<br/>
<a href="https://odysee.com/@DistroTube:2/does-linux-marketing-really-suck:2">https://odysee.com/@DistroTube:2/does-linux-marketing-really-suck:2</a><br/>
<br/>
TITLE: Shocking Footage Caught On Camera<br/>
<a href="https://odysee.com/@DistroTube:2/shocking-footage-caught-on-camera:e">https://odysee.com/@DistroTube:2/shocking-footage-caught-on-camera:e</a><br/>
<br/>
TITLE: Windows 7 Users Migrate To Windows 10 Rather Than Linux<br/>
<a href="https://odysee.com/@DistroTube:2/windows-7-users-migrate-to-windows-10:5">https://odysee.com/@DistroTube:2/windows-7-users-migrate-to-windows-10:5</a><br/>
<br/>
TITLE: The Age of the Introvert<br/>
<a href="https://odysee.com/@DistroTube:2/the-age-of-the-introvert:6">https://odysee.com/@DistroTube:2/the-age-of-the-introvert:6</a><br/>
<br/>
TITLE: Arch Linux Is The Ideal Beginner&#39s Distro<br/>
<a href="https://odysee.com/@DistroTube:2/arch-linux-is-the-ideal-beginner-s:c">https://odysee.com/@DistroTube:2/arch-linux-is-the-ideal-beginner-s:c</a><br/>
<br/>
TITLE: Chat With Patrons (October 30, 2019)<br/>
<a href="https://odysee.com/@DistroTube:2/chat-with-patrons-october-30-2019:4">https://odysee.com/@DistroTube:2/chat-with-patrons-october-30-2019:4</a><br/>
<br/>
TITLE: An Introduction to DistroTube<br/>
<a href="https://odysee.com/@DistroTube:2/an-introduction-to-distrotube:3">https://odysee.com/@DistroTube:2/an-introduction-to-distrotube:3</a><br/>
<br/>
TITLE: Today&#39s Terminology - Blue Pilled or Red Pilled<br/>
<a href="https://odysee.com/@DistroTube:2/today-s-terminology-blue-pilled-or-red:c">https://odysee.com/@DistroTube:2/today-s-terminology-blue-pilled-or-red:c</a><br/>
<br/>
TITLE: Bash Scripting - Variables, Arrays, If-Then-Else<br/>
<a href="https://odysee.com/@DistroTube:2/bash-scripting-variables-arrays-if-then:2">https://odysee.com/@DistroTube:2/bash-scripting-variables-arrays-if-then:2</a><br/>
<br/>
TITLE: Linux Elitists Are Frauds - Making Their Linux Life Harder To Look Cool<br/>
<a href="https://odysee.com/@DistroTube:2/linux-elitists-are-frauds-making-their:c">https://odysee.com/@DistroTube:2/linux-elitists-are-frauds-making-their:c</a><br/>
<br/>
TITLE: Monday is Fun Day (Part Two) - DT Live<br/>
<a href="https://odysee.com/@DistroTube:2/monday-is-fun-day-part-two-dt-live:0">https://odysee.com/@DistroTube:2/monday-is-fun-day-part-two-dt-live:0</a><br/>
<br/>
TITLE: Monday is Fun Day (Part One) - DT Live<br/>
<a href="https://odysee.com/@DistroTube:2/monday-is-fun-day-part-one-dt-live:6">https://odysee.com/@DistroTube:2/monday-is-fun-day-part-one-dt-live:6</a><br/>
<br/>
TITLE: Ubuntu 19.10 &quotEoan Ermine&quot - Installation and First Look<br/>
<a href="https://odysee.com/@DistroTube:2/ubuntu-19-10-eoan-ermine-installation:d">https://odysee.com/@DistroTube:2/ubuntu-19-10-eoan-ermine-installation:d</a><br/>
<br/>
TITLE: Hacking on Xmonad - GridSelect, ToggleStruts, ToggleBorders<br/>
<a href="https://odysee.com/@DistroTube:2/hacking-on-xmonad-gridselect:a">https://odysee.com/@DistroTube:2/hacking-on-xmonad-gridselect:a</a><br/>
<br/>
TITLE: Manjaro Awesome Edition<br/>
<a href="https://odysee.com/@DistroTube:2/manjaro-awesome-edition:9">https://odysee.com/@DistroTube:2/manjaro-awesome-edition:9</a><br/>
<br/>
TITLE: Playing With Emacs, Xmonad and Xmobar - DT Live<br/>
<a href="https://odysee.com/@DistroTube:2/playing-with-emacs-xmonad-and-xmobar-dt:c">https://odysee.com/@DistroTube:2/playing-with-emacs-xmonad-and-xmobar-dt:c</a><br/>
<br/>
TITLE: Switching to GNU Emacs<br/>
<a href="https://odysee.com/@DistroTube:2/switching-to-gnu-emacs:a">https://odysee.com/@DistroTube:2/switching-to-gnu-emacs:a</a><br/>
<br/>
TITLE: Nu Shell - A Modern Shell For Today&#39s User<br/>
<a href="https://odysee.com/@DistroTube:2/nu-shell-a-modern-shell-for-today-s-user:e">https://odysee.com/@DistroTube:2/nu-shell-a-modern-shell-for-today-s-user:e</a><br/>
<br/>
TITLE: Neofetch is BLOAT! Try pfetch instead.<br/>
<a href="https://odysee.com/@DistroTube:2/neofetch-is-bloat-try-pfetch-instead:a">https://odysee.com/@DistroTube:2/neofetch-is-bloat-try-pfetch-instead:a</a><br/>
<br/>
TITLE: A Comprehensive Guide To Tiling Window Managers<br/>
<a href="https://odysee.com/@DistroTube:2/a-comprehensive-guide-to-tiling-window:b">https://odysee.com/@DistroTube:2/a-comprehensive-guide-to-tiling-window:b</a><br/>
<br/>
TITLE: Taking Into Account, Ep. 50 - Windows 11, Ubuntu 32-bit, Cryptojacking, Pi 4, Trash Computers<br/>
<a href="https://odysee.com/@DistroTube:2/taking-into-account-ep-50-windows-11:9">https://odysee.com/@DistroTube:2/taking-into-account-ep-50-windows-11:9</a><br/>
<br/>
TITLE: The Future Of Free Software Without Richard Stallman<br/>
<a href="https://odysee.com/@DistroTube:2/the-future-of-free-software-without:9">https://odysee.com/@DistroTube:2/the-future-of-free-software-without:9</a><br/>
<br/>
TITLE: Media Demands Richard Stallman Be Fired<br/>
<a href="https://odysee.com/@DistroTube:2/media-demands-richard-stallman-be-fired:5">https://odysee.com/@DistroTube:2/media-demands-richard-stallman-be-fired:5</a><br/>
<br/>
TITLE: My Workflow - Tiling Window Managers, Workspaces and Multi-Monitors<br/>
<a href="https://odysee.com/@DistroTube:2/my-workflow-tiling-window-managers:d">https://odysee.com/@DistroTube:2/my-workflow-tiling-window-managers:d</a><br/>
<br/>
TITLE: Drauger OS Installation and First Look<br/>
<a href="https://odysee.com/@DistroTube:2/drauger-os-installation-and-first-look:e">https://odysee.com/@DistroTube:2/drauger-os-installation-and-first-look:e</a><br/>
<br/>
TITLE: Condres OS 19.09 Installation and First Look<br/>
<a href="https://odysee.com/@DistroTube:2/condres-os-19-09-installation-and-first:4">https://odysee.com/@DistroTube:2/condres-os-19-09-installation-and-first:4</a><br/>
<br/>
TITLE: Are Richard Stallman and Linus Torvalds Good for Linux?<br/>
<a href="https://odysee.com/@DistroTube:2/are-richard-stallman-and-linus-torvalds:6">https://odysee.com/@DistroTube:2/are-richard-stallman-and-linus-torvalds:6</a><br/>
<br/>
TITLE: Chat With Patrons (August 30 2019)<br/>
<a href="https://odysee.com/@DistroTube:2/chat-with-patrons-august-30-2019:b">https://odysee.com/@DistroTube:2/chat-with-patrons-august-30-2019:b</a><br/>
<br/>
TITLE: Off Topic - Getting To The Gym<br/>
<a href="https://odysee.com/@DistroTube:2/off-topic-getting-to-the-gym:e">https://odysee.com/@DistroTube:2/off-topic-getting-to-the-gym:e</a><br/>
<br/>
TITLE: Reddio - Reddit From The Command Line<br/>
<a href="https://odysee.com/@DistroTube:2/reddio-reddit-from-the-command-line:4">https://odysee.com/@DistroTube:2/reddio-reddit-from-the-command-line:4</a><br/>
<br/>
TITLE: Saving Time At The Command Line<br/>
<a href="https://odysee.com/@DistroTube:2/saving-time-at-the-command-line:9">https://odysee.com/@DistroTube:2/saving-time-at-the-command-line:9</a><br/>
<br/>
TITLE: Command Line Audio Visualizer<br/>
<a href="https://odysee.com/@DistroTube:2/command-line-audio-visualizer:6">https://odysee.com/@DistroTube:2/command-line-audio-visualizer:6</a><br/>
<br/>
TITLE: New Audio Equipment - Rack, Preamp, Compressor, EQ, Mixer<br/>
<a href="https://odysee.com/@DistroTube:2/new-audio-equipment-rack-preamp:d">https://odysee.com/@DistroTube:2/new-audio-equipment-rack-preamp:d</a><br/>
<br/>
TITLE: The One Year Anniversary of the Death of Terry Davis<br/>
<a href="https://odysee.com/@DistroTube:2/the-one-year-anniversary-of-the-death-of:e">https://odysee.com/@DistroTube:2/the-one-year-anniversary-of-the-death-of:e</a><br/>
<br/>
TITLE: Switching To Bspwm - Initial Thoughts<br/>
<a href="https://odysee.com/@DistroTube:2/switching-to-bspwm-initial-thoughts:0">https://odysee.com/@DistroTube:2/switching-to-bspwm-initial-thoughts:0</a><br/>
<br/>
TITLE: Endeavour OS - Installation and First Look<br/>
<a href="https://odysee.com/@DistroTube:2/endeavour-os-installation-and-first-look:5">https://odysee.com/@DistroTube:2/endeavour-os-installation-and-first-look:5</a><br/>
<br/>
TITLE: Manjaro Ditches LibreOffice For Proprietary Garbage<br/>
<a href="https://odysee.com/@DistroTube:2/manjaro-ditches-libreoffice-for:e">https://odysee.com/@DistroTube:2/manjaro-ditches-libreoffice-for:e</a><br/>
<br/>
TITLE: Chat With Patrons (July 31, 2019)<br/>
<a href="https://odysee.com/@DistroTube:2/chat-with-patrons-july-31-2019:7">https://odysee.com/@DistroTube:2/chat-with-patrons-july-31-2019:7</a><br/>
<br/>
TITLE: After 500 Videos Made, A Time For Reflection<br/>
<a href="https://odysee.com/@DistroTube:2/after-500-videos-made-a-time-for:6">https://odysee.com/@DistroTube:2/after-500-videos-made-a-time-for:6</a><br/>
<br/>
TITLE: The Fast And Flexible Albert Launcher<br/>
<a href="https://odysee.com/@DistroTube:2/the-fast-and-flexible-albert-launcher:8">https://odysee.com/@DistroTube:2/the-fast-and-flexible-albert-launcher:8</a><br/>
<br/>
TITLE: Taking Into Account, Ep. 47 - Endeavour, Alternative OSes, VLC Flaw, Dropbox, Deepin, Me and GNOME<br/>
<a href="https://odysee.com/@DistroTube:2/taking-into-account-ep-47-endeavour:6">https://odysee.com/@DistroTube:2/taking-into-account-ep-47-endeavour:6</a><br/>
<br/>
TITLE: Linux Youtubers That You Should Be Watching<br/>
<a href="https://odysee.com/@DistroTube:2/linux-youtubers-that-you-should-be:9">https://odysee.com/@DistroTube:2/linux-youtubers-that-you-should-be:9</a><br/>
<br/>
TITLE: Is GNOME As Garbage As I Initially Thought?<br/>
<a href="https://odysee.com/@DistroTube:2/is-gnome-as-garbage-as-i-initially:9">https://odysee.com/@DistroTube:2/is-gnome-as-garbage-as-i-initially:9</a><br/>
<br/>
TITLE: Vim Macros Make The Impossible Possible<br/>
<a href="https://odysee.com/@DistroTube:2/vim-macros-make-the-impossible-possible:4">https://odysee.com/@DistroTube:2/vim-macros-make-the-impossible-possible:4</a><br/>
<br/>
TITLE: Command Line App For Downloading YouTube Videos<br/>
<a href="https://odysee.com/@DistroTube:2/command-line-app-for-downloading-youtube:b">https://odysee.com/@DistroTube:2/command-line-app-for-downloading-youtube:b</a><br/>
<br/>
TITLE: Debian vs Arch. Which Is The Best Distro?<br/>
<a href="https://odysee.com/@DistroTube:2/debian-vs-arch-which-is-the-best-distro:8">https://odysee.com/@DistroTube:2/debian-vs-arch-which-is-the-best-distro:8</a><br/>
<br/>
TITLE: Material Shell - Turn GNOME Into A Tiling Window Manager<br/>
<a href="https://odysee.com/@DistroTube:2/material-shell-turn-gnome-into-a-tiling:f">https://odysee.com/@DistroTube:2/material-shell-turn-gnome-into-a-tiling:f</a><br/>
<br/>
TITLE: Arch Linux Installation Guide (2019)<br/>
<a href="https://odysee.com/@DistroTube:2/arch-linux-installation-guide-2019:3">https://odysee.com/@DistroTube:2/arch-linux-installation-guide-2019:3</a><br/>
<br/>
TITLE: Hexagon OS 1.0 - Anything Worth Seeing Here?<br/>
<a href="https://odysee.com/@DistroTube:2/hexagon-os-1-0-anything-worth-seeing:e">https://odysee.com/@DistroTube:2/hexagon-os-1-0-anything-worth-seeing:e</a><br/>
<br/>
TITLE: Q4OS Linux 3.7 Testing<br/>
<a href="https://odysee.com/@DistroTube:2/q4os-linux-3-7-testing:0">https://odysee.com/@DistroTube:2/q4os-linux-3-7-testing:0</a><br/>
<br/>
TITLE: Would Linux Users Pay For Microsoft Or Adobe Software?<br/>
<a href="https://odysee.com/@DistroTube:2/would-linux-users-pay-for-microsoft-or:6">https://odysee.com/@DistroTube:2/would-linux-users-pay-for-microsoft-or:6</a><br/>
<br/>
TITLE: Taking Into Account, Ep. 46 (LIVE)<br/>
<a href="https://odysee.com/@DistroTube:2/taking-into-account-ep-46-live:6">https://odysee.com/@DistroTube:2/taking-into-account-ep-46-live:6</a><br/>
<br/>
TITLE: Regolith Linux - Combining Ubuntu With i3<br/>
<a href="https://odysee.com/@DistroTube:2/regolith-linux-combining-ubuntu-with-i3:f">https://odysee.com/@DistroTube:2/regolith-linux-combining-ubuntu-with-i3:f</a><br/>
<br/>
TITLE: Web Apps That Aren&#39t Bloated! Using Curl.<br/>
<a href="https://odysee.com/@DistroTube:2/web-apps-that-aren-t-bloated-using-curl:a">https://odysee.com/@DistroTube:2/web-apps-that-aren-t-bloated-using-curl:a</a><br/>
<br/>
TITLE: Free Software or Open Source Software? Is There A Difference?<br/>
<a href="https://odysee.com/@DistroTube:2/free-software-or-open-source-software-is:3">https://odysee.com/@DistroTube:2/free-software-or-open-source-software-is:3</a><br/>
<br/>
TITLE: Why Do I Do This?<br/>
<a href="https://odysee.com/@DistroTube:2/why-do-i-do-this:b">https://odysee.com/@DistroTube:2/why-do-i-do-this:b</a><br/>
<br/>
TITLE: Unimatrix Is The Better Matrix<br/>
<a href="https://odysee.com/@DistroTube:2/unimatrix-is-the-better-matrix:8">https://odysee.com/@DistroTube:2/unimatrix-is-the-better-matrix:8</a><br/>
<br/>
TITLE: The Linux Community Is Not Your &quotSafe Space&quot<br/>
<a href="https://odysee.com/@DistroTube:2/the-linux-community-is-not-your-safe:2">https://odysee.com/@DistroTube:2/the-linux-community-is-not-your-safe:2</a><br/>
<br/>
TITLE: Taking Into Account, Ep 44 - Angry Devs, Quake, Snap Store, Linux Mint Should Die<br/>
<a href="https://odysee.com/@DistroTube:2/taking-into-account-ep-44-angry-devs:3">https://odysee.com/@DistroTube:2/taking-into-account-ep-44-angry-devs:3</a><br/>
<br/>
TITLE: Pass - The Standard Unix Password Manager<br/>
<a href="https://odysee.com/@DistroTube:2/pass-the-standard-unix-password-manager:0">https://odysee.com/@DistroTube:2/pass-the-standard-unix-password-manager:0</a><br/>
<br/>
TITLE: Distro Roundup (May 27, 2019) - TAILS, Kali, OpenSUSE, BlackArch<br/>
<a href="https://odysee.com/@DistroTube:2/distro-roundup-may-27-2019-tails-kali:b">https://odysee.com/@DistroTube:2/distro-roundup-may-27-2019-tails-kali:b</a><br/>
<br/>
TITLE: The Free Software Song - DT and RMS Duet<br/>
<a href="https://odysee.com/@DistroTube:2/the-free-software-song-dt-and-rms-duet:0">https://odysee.com/@DistroTube:2/the-free-software-song-dt-and-rms-duet:0</a><br/>
<br/>
TITLE: Chat With Patrons (May 26, 2019)<br/>
<a href="https://odysee.com/@DistroTube:2/chat-with-patrons-may-26-2019:6">https://odysee.com/@DistroTube:2/chat-with-patrons-may-26-2019:6</a><br/>
<br/>
TITLE: Dealing With Trolls On Social Media<br/>
<a href="https://odysee.com/@DistroTube:2/dealing-with-trolls-on-social-media:5">https://odysee.com/@DistroTube:2/dealing-with-trolls-on-social-media:5</a><br/>
<br/>
TITLE: Taking Into Account, Ep. 43 - Huawei, South Korea, Firefox, GitHub Sponsors, Manjaro, Antergos<br/>
<a href="https://odysee.com/@DistroTube:2/taking-into-account-ep-43-huawei-south:0">https://odysee.com/@DistroTube:2/taking-into-account-ep-43-huawei-south:0</a><br/>
<br/>
TITLE: After Two Weeks With AwesomeWM...<br/>
<a href="https://odysee.com/@DistroTube:2/after-two-weeks-with-awesomewm:f">https://odysee.com/@DistroTube:2/after-two-weeks-with-awesomewm:f</a><br/>
<br/>
TITLE: BREAKING NEWS - Antergos Linux Project Ends - What Are Your Options?<br/>
<a href="https://odysee.com/@DistroTube:2/breaking-news-antergos-linux-project:3">https://odysee.com/@DistroTube:2/breaking-news-antergos-linux-project:3</a><br/>
<br/>
TITLE: Distro Roundup (May 20, 2019) - OpenIndiana, OpenMandriva, ArcoLinux, Peppermint, RoboLinux<br/>
<a href="https://odysee.com/@DistroTube:2/distro-roundup-may-20-2019-openindiana:a">https://odysee.com/@DistroTube:2/distro-roundup-may-20-2019-openindiana:a</a><br/>
<br/>
TITLE: The ErgoDox EZ - The Ridiculous, Incredible Mechanical Keyboard<br/>
<a href="https://odysee.com/@DistroTube:2/the-ergodox-ez-the-ridiculous-incredible:9">https://odysee.com/@DistroTube:2/the-ergodox-ez-the-ridiculous-incredible:9</a><br/>
<br/>
TITLE: Taking Into Account, Ep. 42 - BTW Arch WSL, Contributing to FOSS, Zombieload, Indian Schools, Bing<br/>
<a href="https://odysee.com/@DistroTube:2/taking-into-account-ep-42-btw-arch-wsl:6">https://odysee.com/@DistroTube:2/taking-into-account-ep-42-btw-arch-wsl:6</a><br/>
<br/>
TITLE: What Is &quotSoftware Bloat&quot?<br/>
<a href="https://odysee.com/@DistroTube:2/what-is-software-bloat:0">https://odysee.com/@DistroTube:2/what-is-software-bloat:0</a><br/>
<br/>
TITLE: Systemd Haters Getting Their Panties In A Twist<br/>
<a href="https://odysee.com/@DistroTube:2/systemd-haters-getting-their-panties-in:a">https://odysee.com/@DistroTube:2/systemd-haters-getting-their-panties-in:a</a><br/>
<br/>
TITLE: Why I Choose Free And Open Source Software<br/>
<a href="https://odysee.com/@DistroTube:2/why-i-choose-free-and-open-source:2">https://odysee.com/@DistroTube:2/why-i-choose-free-and-open-source:2</a><br/>
<br/>
TITLE: Taking Into Account, Ep. 41 - Break Up Facebook, Linux in Windows, Eoan Ermine, MS + Red Hat, Tilix<br/>
<a href="https://odysee.com/@DistroTube:2/taking-into-account-ep-41-break-up:e">https://odysee.com/@DistroTube:2/taking-into-account-ep-41-break-up:e</a><br/>
<br/>
TITLE: The Window Manager Carousel Continues - Awesome Day One<br/>
<a href="https://odysee.com/@DistroTube:2/the-window-manager-carousel-continues:b">https://odysee.com/@DistroTube:2/the-window-manager-carousel-continues:b</a><br/>
<br/>
TITLE: Accused Of Racism. I Quit My Job. Now What?<br/>
<a href="https://odysee.com/@DistroTube:2/accused-of-racism-i-quit-my-job-now-what:3">https://odysee.com/@DistroTube:2/accused-of-racism-i-quit-my-job-now-what:3</a><br/>
<br/>
TITLE: Taking Into Account, Ep. 40 - New Red Hat, GNOME is a Mess, Librem One, Win 10 Bloated, Mozilla IRC<br/>
<a href="https://odysee.com/@DistroTube:2/taking-into-account-ep-40-new-red-hat:4">https://odysee.com/@DistroTube:2/taking-into-account-ep-40-new-red-hat:4</a><br/>
<br/>
TITLE: Changing Your Default Shell<br/>
<a href="https://odysee.com/@DistroTube:2/changing-your-default-shell:b">https://odysee.com/@DistroTube:2/changing-your-default-shell:b</a><br/>
<br/>
TITLE: Fedora 30 Workstation - Installation And First Impression<br/>
<a href="https://odysee.com/@DistroTube:2/fedora-30-workstation-installation-and:9">https://odysee.com/@DistroTube:2/fedora-30-workstation-installation-and:9</a><br/>
<br/>
TITLE: Chat With Patrons (April 27, 2019)<br/>
<a href="https://odysee.com/@DistroTube:2/chat-with-patrons-april-27-2019:0">https://odysee.com/@DistroTube:2/chat-with-patrons-april-27-2019:0</a><br/>
<br/>
TITLE: Taking Into Account, Ep. 38 - Windows 10, Open Source Wins, VSCodium, Pengwin, Davinci, Kdenlive<br/>
<a href="https://odysee.com/@DistroTube:2/taking-into-account-ep-38-windows-10:1">https://odysee.com/@DistroTube:2/taking-into-account-ep-38-windows-10:1</a><br/>
<br/>
TITLE: The Many Flavors of Ubuntu 19.04 &quotDisco Dingo&quot<br/>
<a href="https://odysee.com/@DistroTube:2/the-many-flavors-of-ubuntu-19-04-disco:5">https://odysee.com/@DistroTube:2/the-many-flavors-of-ubuntu-19-04-disco:5</a><br/>
<br/>
TITLE: An Overview of Snap Packages<br/>
<a href="https://odysee.com/@DistroTube:2/an-overview-of-snap-packages:1">https://odysee.com/@DistroTube:2/an-overview-of-snap-packages:1</a><br/>
<br/>
TITLE: The Web Is Broken Beyond Repair. The Alternative? GOPHER!<br/>
<a href="https://odysee.com/@DistroTube:2/the-web-is-broken-beyond-repair-the:3">https://odysee.com/@DistroTube:2/the-web-is-broken-beyond-repair-the:3</a><br/>
<br/>
TITLE: Taking Into Account, Ep. 37 - Linux Troubles, Mint Devs Unhappy, China Bans Crypto, MS Linux Apps<br/>
<a href="https://odysee.com/@DistroTube:2/taking-into-account-ep-37-linux-troubles:6">https://odysee.com/@DistroTube:2/taking-into-account-ep-37-linux-troubles:6</a><br/>
<br/>
TITLE: Command Line Shenanigans - Tomfoolery In The Terminal<br/>
<a href="https://odysee.com/@DistroTube:2/command-line-shenanigans-tomfoolery-in:a">https://odysee.com/@DistroTube:2/command-line-shenanigans-tomfoolery-in:a</a><br/>
<br/>
TITLE: GNU Nano With Improved Syntax Highlighting<br/>
<a href="https://odysee.com/@DistroTube:2/gnu-nano-with-improved-syntax:3">https://odysee.com/@DistroTube:2/gnu-nano-with-improved-syntax:3</a><br/>
<br/>
TITLE: My New Computer - DT Joins Team Red - Threadripper &amp Radeon VII<br/>
<a href="https://odysee.com/@DistroTube:2/my-new-computer-dt-joins-team-red:5">https://odysee.com/@DistroTube:2/my-new-computer-dt-joins-team-red:5</a><br/>
<br/>
TITLE: Taking Into Account, Ep. 36 - Linus Interview, Linux Gaming, VMWare, SPURV, Ubuntu, Fedora<br/>
<a href="https://odysee.com/@DistroTube:2/taking-into-account-ep-36-linus:4">https://odysee.com/@DistroTube:2/taking-into-account-ep-36-linus:4</a><br/>
<br/>
TITLE: Sabayon 19.03 GNOME - DT Live<br/>
<a href="https://odysee.com/@DistroTube:2/sabayon-19-03-gnome-dt-live:b">https://odysee.com/@DistroTube:2/sabayon-19-03-gnome-dt-live:b</a><br/>
<br/>
TITLE: Microsoft Edge Coming To Linux? Google Essentially Owns The Internet<br/>
<a href="https://odysee.com/@DistroTube:2/microsoft-edge-coming-to-linux-google:0">https://odysee.com/@DistroTube:2/microsoft-edge-coming-to-linux-google:0</a><br/>
<br/>
TITLE: Taking Into Account, Ep. 35 - Linux Foundation, Article 13, NexDock 2, Sway, GNOME<br/>
<a href="https://odysee.com/@DistroTube:2/taking-into-account-ep-35-linux:8">https://odysee.com/@DistroTube:2/taking-into-account-ep-35-linux:8</a><br/>
<br/>
TITLE: Big YouTubers And Linux - So Little Coverage And It&#39s Usually Bad!<br/>
<a href="https://odysee.com/@DistroTube:2/big-youtubers-and-linux-so-little:9">https://odysee.com/@DistroTube:2/big-youtubers-and-linux-so-little:9</a><br/>
<br/>
TITLE: Chat With Patrons (March 24, 2019)<br/>
<a href="https://odysee.com/@DistroTube:2/chat-with-patrons-march-24-2019:b">https://odysee.com/@DistroTube:2/chat-with-patrons-march-24-2019:b</a><br/>
<br/>
TITLE: Curseradio - Internet Radio For Your Terminal<br/>
<a href="https://odysee.com/@DistroTube:2/curseradio-internet-radio-for-your:1">https://odysee.com/@DistroTube:2/curseradio-internet-radio-for-your:1</a><br/>
<br/>
TITLE: Taking Into Account, Ep. 34 - Stadia, Open Source Money, Windows 7, Stallman, App Releases, IRC<br/>
<a href="https://odysee.com/@DistroTube:2/taking-into-account-ep-34-stadia-open:f">https://odysee.com/@DistroTube:2/taking-into-account-ep-34-stadia-open:f</a><br/>
<br/>
TITLE: Vim Makes Everything Better, Especially Your File Manager And Shell!<br/>
<a href="https://odysee.com/@DistroTube:2/vim-makes-everything-better-especially:8">https://odysee.com/@DistroTube:2/vim-makes-everything-better-especially:8</a><br/>
<br/>
TITLE: Solus 4.0 &#39Fortitude&quot - The Budgie Edition - Installation and First Look<br/>
<a href="https://odysee.com/@DistroTube:2/solus-4-0-fortitude-the-budgie-edition:0">https://odysee.com/@DistroTube:2/solus-4-0-fortitude-the-budgie-edition:0</a><br/>
<br/>
TITLE: State of the Channel - DT Live<br/>
<a href="https://odysee.com/@DistroTube:2/state-of-the-channel-dt-live:2">https://odysee.com/@DistroTube:2/state-of-the-channel-dt-live:2</a><br/>
<br/>
TITLE: Window Manager Hopping Herbstluftwm<br/>
<a href="https://odysee.com/@DistroTube:2/window-manager-hopping-herbstluftwm:a">https://odysee.com/@DistroTube:2/window-manager-hopping-herbstluftwm:a</a><br/>
<br/>
TITLE: Taking Into Account, Ep. 33 - GNOME, Skype, OpenJS, PureOS, Firefox Send, Poll Results<br/>
<a href="https://odysee.com/@DistroTube:2/taking-into-account-ep-33-gnome-skype:1">https://odysee.com/@DistroTube:2/taking-into-account-ep-33-gnome-skype:1</a><br/>
<br/>
TITLE: Trayer - A Lightweight System Tray For Your Linux Desktop<br/>
<a href="https://odysee.com/@DistroTube:2/trayer-a-lightweight-system-tray-for:5">https://odysee.com/@DistroTube:2/trayer-a-lightweight-system-tray-for:5</a><br/>
<br/>
TITLE: 4MLinux 28.0 - Installation and First Look<br/>
<a href="https://odysee.com/@DistroTube:2/4mlinux-28-0-installation-and-first-look:7">https://odysee.com/@DistroTube:2/4mlinux-28-0-installation-and-first-look:7</a><br/>
<br/>
TITLE: A Command Line Pastebin and a Terminal Session Recorder - Termbin &amp Asciinema<br/>
<a href="https://odysee.com/@DistroTube:2/a-command-line-pastebin-and-a-terminal:c">https://odysee.com/@DistroTube:2/a-command-line-pastebin-and-a-terminal:c</a><br/>
<br/>
TITLE: Taking Into Account, Ep. 32 - Intel CPUs, Windows Calculator, Ubuntu Studio, Mint, Good vs Evil<br/>
<a href="https://odysee.com/@DistroTube:2/taking-into-account-ep-32-intel-cpus:8">https://odysee.com/@DistroTube:2/taking-into-account-ep-32-intel-cpus:8</a><br/>
<br/>
TITLE: LSD on Linux - the next gen &quotls&quot command<br/>
<a href="https://odysee.com/@DistroTube:2/lsd-on-linux-the-next-gen-ls-command:5">https://odysee.com/@DistroTube:2/lsd-on-linux-the-next-gen-ls-command:5</a><br/>
<br/>
TITLE: Xmonad and Named Scratchpads<br/>
<a href="https://odysee.com/@DistroTube:2/xmonad-and-named-scratchpads:e">https://odysee.com/@DistroTube:2/xmonad-and-named-scratchpads:e</a><br/>
<br/>
TITLE: Vifm and Überzug (Ueberzug) Image Previews<br/>
<a href="https://odysee.com/@DistroTube:2/vifm-and-berzug-ueberzug-image-previews:1">https://odysee.com/@DistroTube:2/vifm-and-berzug-ueberzug-image-previews:1</a><br/>
<br/>
TITLE: Taking Into Account, Ep. 31 - Ubuntu Drops APT, Ransomware, Redis, Social Media Crime, Icons<br/>
<a href="https://odysee.com/@DistroTube:2/taking-into-account-ep-31-ubuntu-drops:d">https://odysee.com/@DistroTube:2/taking-into-account-ep-31-ubuntu-drops:d</a><br/>
<br/>
TITLE: Zipping Your Files In Linux<br/>
<a href="https://odysee.com/@DistroTube:2/zipping-your-files-in-linux:f">https://odysee.com/@DistroTube:2/zipping-your-files-in-linux:f</a><br/>
<br/>
TITLE: Newsboat RSS Reader - Not Just For News Feeds<br/>
<a href="https://odysee.com/@DistroTube:2/newsboat-rss-reader-not-just-for-news:1">https://odysee.com/@DistroTube:2/newsboat-rss-reader-not-just-for-news:1</a><br/>
<br/>
TITLE: Taking Into Account, Ep. 30 - Linux Life Support, Snap Store, WSL, Chrome OS, Raspberry Pi<br/>
<a href="https://odysee.com/@DistroTube:2/taking-into-account-ep-30-linux-life:9">https://odysee.com/@DistroTube:2/taking-into-account-ep-30-linux-life:9</a><br/>
<br/>
TITLE: Movie Monad - Lightweight And Cross Platform Video Player<br/>
<a href="https://odysee.com/@DistroTube:2/movie-monad-lightweight-and-cross:3">https://odysee.com/@DistroTube:2/movie-monad-lightweight-and-cross:3</a><br/>
<br/>
TITLE: The Surf Browser - Bookmarks, Stylesheets and Tabs<br/>
<a href="https://odysee.com/@DistroTube:2/the-surf-browser-bookmarks-stylesheets:0">https://odysee.com/@DistroTube:2/the-surf-browser-bookmarks-stylesheets:0</a><br/>
<br/>
TITLE: Switching to Xmonad - Not Exactly Day One<br/>
<a href="https://odysee.com/@DistroTube:2/switching-to-xmonad-not-exactly-day-one:f">https://odysee.com/@DistroTube:2/switching-to-xmonad-not-exactly-day-one:f</a><br/>
<br/>
TITLE: Taking Into Account, Ep. 29 - Linux gaming, Taking Code Back, Microsoft OpenChain, Snapd, Void Linux<br/>
<a href="https://odysee.com/@DistroTube:2/taking-into-account-ep-29-linux-gaming:b">https://odysee.com/@DistroTube:2/taking-into-account-ep-29-linux-gaming:b</a><br/>
<br/>
TITLE: Time To Leave Dwm Behind - My Thoughts on Suckless<br/>
<a href="https://odysee.com/@DistroTube:2/time-to-leave-dwm-behind-my-thoughts-on:d">https://odysee.com/@DistroTube:2/time-to-leave-dwm-behind-my-thoughts-on:d</a><br/>
<br/>
TITLE: Redcore Linux 1812 LXQt - Installation and First Look<br/>
<a href="https://odysee.com/@DistroTube:2/redcore-linux-1812-lxqt-installation-and:3">https://odysee.com/@DistroTube:2/redcore-linux-1812-lxqt-installation-and:3</a><br/>
<br/>
TITLE: Taking Into Account, Ep. 28 - Open Source, GNOME panel, SpeakUp, Shellbot, New User Distros, Apps<br/>
<a href="https://odysee.com/@DistroTube:2/taking-into-account-ep-28-open-source:3">https://odysee.com/@DistroTube:2/taking-into-account-ep-28-open-source:3</a><br/>
<br/>
TITLE: New Suckless Releases - dwm 6.2 and dmenu 4.9<br/>
<a href="https://odysee.com/@DistroTube:2/new-suckless-releases-dwm-6-2-and-dmenu:6">https://odysee.com/@DistroTube:2/new-suckless-releases-dwm-6-2-and-dmenu:6</a><br/>
<br/>
TITLE: The Vim Tutorial - Part Two - More Commands<br/>
<a href="https://odysee.com/@DistroTube:2/the-vim-tutorial-part-two-more-commands:e">https://odysee.com/@DistroTube:2/the-vim-tutorial-part-two-more-commands:e</a><br/>
<br/>
TITLE: Dotfiles Are Everywhere. We&#39ve Lost Control Of Our Home Directories!<br/>
<a href="https://odysee.com/@DistroTube:2/dotfiles-are-everywhere-we-ve-lost:4">https://odysee.com/@DistroTube:2/dotfiles-are-everywhere-we-ve-lost:4</a><br/>
<br/>
TITLE: Day 12 (dwm) -  Status Bar Configuration<br/>
<a href="https://odysee.com/@DistroTube:2/day-12-dwm-status-bar-configuration:4">https://odysee.com/@DistroTube:2/day-12-dwm-status-bar-configuration:4</a><br/>
<br/>
TITLE: Taking Into Account, Ep. 27 - New Pi, Olive, Facebook, 4K Chromebook, App Releases<br/>
<a href="https://odysee.com/@DistroTube:2/taking-into-account-ep-27-new-pi-olive:2">https://odysee.com/@DistroTube:2/taking-into-account-ep-27-new-pi-olive:2</a><br/>
<br/>
TITLE: Mageia Dropped From DistroWatch &quotMajor Distros&quot Page. What Should Replace It?<br/>
<a href="https://odysee.com/@DistroTube:2/mageia-dropped-from-distrowatch-major:a">https://odysee.com/@DistroTube:2/mageia-dropped-from-distrowatch-major:a</a><br/>
<br/>
TITLE: Day 7 - dwm and suckless - I Hate The Patching!<br/>
<a href="https://odysee.com/@DistroTube:2/day-7-dwm-and-suckless-i-hate-the:d">https://odysee.com/@DistroTube:2/day-7-dwm-and-suckless-i-hate-the:d</a><br/>
<br/>
TITLE: Taking Into Account, Ep. 26 - Apt Bug, Ubuntu Core, Chromebooks, SUSE on ARM, MS phones<br/>
<a href="https://odysee.com/@DistroTube:2/taking-into-account-ep-26-apt-bug-ubuntu:8">https://odysee.com/@DistroTube:2/taking-into-account-ep-26-apt-bug-ubuntu:8</a><br/>
<br/>
TITLE: Three Weeks With i3 - Time For A New Challenge - SUCKLESS!<br/>
<a href="https://odysee.com/@DistroTube:2/three-weeks-with-i3-time-for-a-new:d">https://odysee.com/@DistroTube:2/three-weeks-with-i3-time-for-a-new:d</a><br/>
<br/>
TITLE: ArcoLinux Xmonad - A Quick First Look<br/>
<a href="https://odysee.com/@DistroTube:2/arcolinux-xmonad-a-quick-first-look:8">https://odysee.com/@DistroTube:2/arcolinux-xmonad-a-quick-first-look:8</a><br/>
<br/>
TITLE: Taking Into Account, Ep. 25 - Systemd, VLC, MongoDB, SuperTuxKart, FSF<br/>
<a href="https://odysee.com/@DistroTube:2/taking-into-account-ep-25-systemd-vlc:e">https://odysee.com/@DistroTube:2/taking-into-account-ep-25-systemd-vlc:e</a><br/>
<br/>
TITLE: Git Bare Repository - A Better Way To Manage Dotfiles<br/>
<a href="https://odysee.com/@DistroTube:2/git-bare-repository-a-better-way-to:7">https://odysee.com/@DistroTube:2/git-bare-repository-a-better-way-to:7</a><br/>
<br/>
TITLE: Icons And Image Previews In Vifm, Plus Xterm Is Great!<br/>
<a href="https://odysee.com/@DistroTube:2/icons-and-image-previews-in-vifm-plus:a">https://odysee.com/@DistroTube:2/icons-and-image-previews-in-vifm-plus:a</a><br/>
<br/>
TITLE: Free And Open Chat Sunday (January 13, 2019)<br/>
<a href="https://odysee.com/@DistroTube:2/free-and-open-chat-sunday-january-13:8">https://odysee.com/@DistroTube:2/free-and-open-chat-sunday-january-13:8</a><br/>
<br/>
TITLE: Switching to i3 - Day 12 - Binding Modes<br/>
<a href="https://odysee.com/@DistroTube:2/switching-to-i3-day-12-binding-modes:a">https://odysee.com/@DistroTube:2/switching-to-i3-day-12-binding-modes:a</a><br/>
<br/>
TITLE: Noob Questions and Comments - ANSWERED!<br/>
<a href="https://odysee.com/@DistroTube:2/noob-questions-and-comments-answered:1">https://odysee.com/@DistroTube:2/noob-questions-and-comments-answered:1</a><br/>
<br/>
TITLE: Taking Into Account, Ep. 24 - Windows Reserve Storage, Game Devs, Snap Games, GDPR, Ubuntu $, FLOSS<br/>
<a href="https://odysee.com/@DistroTube:2/taking-into-account-ep-24-windows:6">https://odysee.com/@DistroTube:2/taking-into-account-ep-24-windows:6</a><br/>
<br/>
TITLE: Three Manpage Alternatives - bropages, cheat and tldr<br/>
<a href="https://odysee.com/@DistroTube:2/three-manpage-alternatives-bropages:d">https://odysee.com/@DistroTube:2/three-manpage-alternatives-bropages:d</a><br/>
<br/>
TITLE: Why Use A Tiling Window Manager?  Speed, Efficiency and Customization!<br/>
<a href="https://odysee.com/@DistroTube:2/why-use-a-tiling-window-manager-speed:4">https://odysee.com/@DistroTube:2/why-use-a-tiling-window-manager-speed:4</a><br/>
<br/>
TITLE: Chat With Patrons (January 6, 2019)<br/>
<a href="https://odysee.com/@DistroTube:2/chat-with-patrons-january-6-2019:a">https://odysee.com/@DistroTube:2/chat-with-patrons-january-6-2019:a</a><br/>
<br/>
TITLE: Odio - Radio Streaming App for Windows, Mac and Linux<br/>
<a href="https://odysee.com/@DistroTube:2/odio-radio-streaming-app-for-windows-mac:0">https://odysee.com/@DistroTube:2/odio-radio-streaming-app-for-windows-mac:0</a><br/>
<br/>
TITLE: Switching to i3 - Day Four<br/>
<a href="https://odysee.com/@DistroTube:2/switching-to-i3-day-four:b">https://odysee.com/@DistroTube:2/switching-to-i3-day-four:b</a><br/>
<br/>
TITLE: Taking Into Account, Ep. 23 - Firefox ads, Snaps, Kernel commits, Bloodstained, Chromebooks, i3<br/>
<a href="https://odysee.com/@DistroTube:2/taking-into-account-ep-23-firefox-ads:6">https://odysee.com/@DistroTube:2/taking-into-account-ep-23-firefox-ads:6</a><br/>
<br/>
TITLE: Switching to i3 - Day One<br/>
<a href="https://odysee.com/@DistroTube:2/switching-to-i3-day-one:9">https://odysee.com/@DistroTube:2/switching-to-i3-day-one:9</a><br/>
<br/>
TITLE: eDEX-UI - Fullscreen Terminal Inspired By Hollywood<br/>
<a href="https://odysee.com/@DistroTube:2/edex-ui-fullscreen-terminal-inspired-by:3">https://odysee.com/@DistroTube:2/edex-ui-fullscreen-terminal-inspired-by:3</a><br/>
<br/>
<h2>Video Categories</h2>
<br/>
<a href="../videos/2017-videos.html">Videos from 2017</a><br/>
<a href="../videos/2018-videos.html">Videos from 2018</a><br/>
<a href="../videos/2019-videos.html">Videos from 2019</a><br/>
<a href="../videos/2020-videos.html">Videos from 2020</a><br/>
<a href="../videos/2021-videos.html">Videos from 2021</a><br/>
