<head><link rel="stylesheet" href="https:\/\/distrotube.com/css/style.css">
<title># DistroTube Videos from 2021 (sorted in reverse order)</title>
<pre>
     __ __       _______ _______ _______ _____ 
 .--|  |  |_    |       |   _   |       | _   |
 |  _  |   _|   |___|   |.  |   |___|   |.|   |
 |_____|____|    /  ___/|.  |   |/  ___/`-|.  |
                |:  1  \|:  1   |:  1  \  |:  |
                |::.. . |::.. . |::.. . | |::.|
                `-------`-------`-------&#39 `---&#39
                                               
</pre>
<br/>
<h1>DistroTube Videos from 2021 (sorted in reverse order)</h1>
<br/>
TITLE: &quotHey, DT! Free Linux Distros Are Not Really Free.&quot Plus More Comments.<br/>
<a href="https://odysee.com/@DistroTube:2/hey,-dt!-free-linux-distros-are-not:2">https://odysee.com/@DistroTube:2/hey,-dt!-free-linux-distros-are-not:2</a><br/>
<br/>
TITLE: My Personal Website Will Now Be A Gemini Capsule<br/>
<a href="https://odysee.com/@DistroTube:2/my-personal-website-will-now-be-a-gemini:3">https://odysee.com/@DistroTube:2/my-personal-website-will-now-be-a-gemini:3</a><br/>
<br/>
TITLE: Unboxing The ZSA Moonlander Programmable Keyboard<br/>
<a href="https://odysee.com/@DistroTube:2/unboxing-the-zsa-moonlander-programmable:0">https://odysee.com/@DistroTube:2/unboxing-the-zsa-moonlander-programmable:0</a><br/>
<br/>
TITLE: Is The Best RSS Reader An Emacs Package?<br/>
<a href="https://odysee.com/@DistroTube:2/is-the-best-rss-reader-an-emacs-package:6">https://odysee.com/@DistroTube:2/is-the-best-rss-reader-an-emacs-package:6</a><br/>
<br/>
TITLE: The SEC Sues LBRY. Also, Follow Me On Odysee!<br/>
<a href="https://odysee.com/@DistroTube:2/the-sec-sues-lbry.-also,-follow-me-on:9">https://odysee.com/@DistroTube:2/the-sec-sues-lbry.-also,-follow-me-on:9</a><br/>
<br/>
TITLE: A Quick Look At Manjaro 21.0 &quotOrnara&quot Xfce<br/>
<a href="https://odysee.com/@DistroTube:2/a-quick-look-at-manjaro-21.0-ornara-xfce:c">https://odysee.com/@DistroTube:2/a-quick-look-at-manjaro-21.0-ornara-xfce:c</a><br/>
<br/>
TITLE: GNOME Board Members Must Resign In Disgrace<br/>
<a href="https://odysee.com/@DistroTube:2/gnome-board-members-must-resign-in:c">https://odysee.com/@DistroTube:2/gnome-board-members-must-resign-in:c</a><br/>
<br/>
TITLE: Mob Mentality Threatens The Free Software Movement<br/>
<a href="https://odysee.com/@DistroTube:2/mob-mentality-threatens-the-free:b">https://odysee.com/@DistroTube:2/mob-mentality-threatens-the-free:b</a><br/>
<br/>
TITLE: Creating A Dmenu Script For Web Bookmarks And History<br/>
<a href="https://odysee.com/@DistroTube:2/creating-a-dmenu-script-for-web:b">https://odysee.com/@DistroTube:2/creating-a-dmenu-script-for-web:b</a><br/>
<br/>
TITLE: Want DT&#39s Desktop? Deploy My Dotfiles! - DT LIVE<br/>
<a href="https://odysee.com/@DistroTube:2/want-dt&#39s-desktop-deploy-my-dotfiles!-dt:1">https://odysee.com/@DistroTube:2/want-dt&#39s-desktop-deploy-my-dotfiles!-dt:1</a><br/>
<br/>
TITLE: Stop Pretending &quot/bin/sh&quot Is A Real Shell #shorts<br/>
<a href="https://odysee.com/@DistroTube:2/stop-pretending-bin-sh-is-a-real-shell:5">https://odysee.com/@DistroTube:2/stop-pretending-bin-sh-is-a-real-shell:5</a><br/>
<br/>
TITLE: Fix Your Mouse Wheel Scrolling Speed With Imwheel<br/>
<a href="https://odysee.com/@DistroTube:2/fix-qutebrowser-mouse-scrolling-with:5">https://odysee.com/@DistroTube:2/fix-qutebrowser-mouse-scrolling-with:5</a><br/>
<br/>
TITLE: Manage Your Virtual Machines With Cockpit<br/>
<a href="https://odysee.com/@DistroTube:2/manage-your-virtual-machines-with:0">https://odysee.com/@DistroTube:2/manage-your-virtual-machines-with:0</a><br/>
<br/>
TITLE: The MEME Live Stream - DT LIVE<br/>
<a href="https://odysee.com/@DistroTube:2/the-meme-live-stream-dt-live:3">https://odysee.com/@DistroTube:2/the-meme-live-stream-dt-live:3</a><br/>
<br/>
TITLE: Resistance Is Futile, So I&#39m Back In Qtile<br/>
<a href="https://odysee.com/@DistroTube:2/resistance-is-futile,-so-i&#39m-back-in:5">https://odysee.com/@DistroTube:2/resistance-is-futile,-so-i&#39m-back-in:5</a><br/>
<br/>
TITLE: The Yakuake Drop-Down Terminal For KDE Plasma<br/>
<a href="https://odysee.com/@DistroTube:2/the-yakuale-drop-down-terminal-for-kde:d">https://odysee.com/@DistroTube:2/the-yakuale-drop-down-terminal-for-kde:d</a><br/>
<br/>
TITLE: I See So Much Negativity In The World<br/>
<a href="https://odysee.com/@DistroTube:2/i-see-so-much-negativity-in-the-world:5">https://odysee.com/@DistroTube:2/i-see-so-much-negativity-in-the-world:5</a><br/>
<br/>
TITLE: Solve Problems With Shell Scripting And Dmenu<br/>
<a href="https://odysee.com/@DistroTube:2/solve-problems-with-shell-scripting-and:d">https://odysee.com/@DistroTube:2/solve-problems-with-shell-scripting-and:d</a><br/>
<br/>
TITLE: &quotHey, DT! How Do I Learn The Terminal?&quot (And Other Questions Answered)<br/>
<a href="https://odysee.com/@DistroTube:2/hey,-dt!-how-do-i-learn-the-terminal:d">https://odysee.com/@DistroTube:2/hey,-dt!-how-do-i-learn-the-terminal:d</a><br/>
<br/>
TITLE: YouTube Channels I&#39ve Enjoyed Watching In 2021<br/>
<a href="https://odysee.com/@DistroTube:2/youtube-channels-i-ve-enjoyed-watching:a">https://odysee.com/@DistroTube:2/youtube-channels-i-ve-enjoyed-watching:a</a><br/>
<br/>
TITLE: Installation And First Look At Mageia 8<br/>
<a href="https://odysee.com/@DistroTube:2/installation-and-first-look-at-mageia-8:2">https://odysee.com/@DistroTube:2/installation-and-first-look-at-mageia-8:2</a><br/>
<br/>
TITLE: Five Tips For The Openbox Window Manager<br/>
<a href="https://odysee.com/@DistroTube:2/five-tips-for-the-openbox-window-manager:7">https://odysee.com/@DistroTube:2/five-tips-for-the-openbox-window-manager:7</a><br/>
<br/>
TITLE: The Right Wallpaper Is The Key To A Beautiful Desktop<br/>
<a href="https://odysee.com/@DistroTube:2/the-right-wallpaper-is-the-key-to-a:e">https://odysee.com/@DistroTube:2/the-right-wallpaper-is-the-key-to-a:e</a><br/>
<br/>
TITLE: The Latest Release Of 0 A.D. Looks Amazing!<br/>
<a href="https://odysee.com/@DistroTube:2/the-latest-release-of-0-a-d-looks-2:0">https://odysee.com/@DistroTube:2/the-latest-release-of-0-a-d-looks-2:0</a><br/>
<br/>
TITLE: Explaining Everything In My XMonad Config<br/>
<a href="https://odysee.com/@DistroTube:2/explaining-everything-in-my-xmonad:f">https://odysee.com/@DistroTube:2/explaining-everything-in-my-xmonad:f</a><br/>
<br/>
TITLE: Siduction Is The &quotUnstable&quot Debian-Based Linux Distro<br/>
<a href="https://odysee.com/@DistroTube:2/siduction-is-the-unstable-debian-based:4">https://odysee.com/@DistroTube:2/siduction-is-the-unstable-debian-based:4</a><br/>
<br/>
TITLE: Read Manpages With Less, Bat, Vim or Neovim<br/>
<a href="https://odysee.com/@DistroTube:2/read-manpages-with-less-bat-vim-or:b">https://odysee.com/@DistroTube:2/read-manpages-with-less-bat-vim-or:b</a><br/>
<br/>
TITLE: Many Computer Users Never Run Updates<br/>
<a href="https://odysee.com/@DistroTube:2/many-computer-users-never-run-updates:8">https://odysee.com/@DistroTube:2/many-computer-users-never-run-updates:8</a><br/>
<br/>
TITLE: Ubuntu, Then Arch. It&#39s The Road So Many Of Us Travel.<br/>
<a href="https://odysee.com/@DistroTube:2/ubuntu-then-arch-it-s-the-road-so-many:9">https://odysee.com/@DistroTube:2/ubuntu-then-arch-it-s-the-road-so-many:9</a><br/>
<br/>
TITLE: Mailspring Is An Email Client For Windows, Mac And Linux<br/>
<a href="https://odysee.com/@DistroTube:2/mailspring-is-an-email-client-for:b">https://odysee.com/@DistroTube:2/mailspring-is-an-email-client-for:b</a><br/>
<br/>
TITLE: Crypto Currency Rates From The Command Line<br/>
<a href="https://odysee.com/@DistroTube:2/crypto-currency-rates-from-the-command:e">https://odysee.com/@DistroTube:2/crypto-currency-rates-from-the-command:e</a><br/>
<br/>
TITLE: JingOS Is An Ipad Inspired Linux Distro<br/>
<a href="https://odysee.com/@DistroTube:2/jingos-is-an-ipad-inspired-linux-distro:1">https://odysee.com/@DistroTube:2/jingos-is-an-ipad-inspired-linux-distro:1</a><br/>
<br/>
TITLE: &quotEthical&quot Software Threatens Free And Open Source Software<br/>
<a href="https://odysee.com/@DistroTube:2/ethical-software-threatens-free-and-open:b">https://odysee.com/@DistroTube:2/ethical-software-threatens-free-and-open:b</a><br/>
<br/>
TITLE: Some Additional Thoughts About Gemini And Amfora <br/>
<a href="https://odysee.com/@DistroTube:2/some-additional-thoughts-about-gemini:4">https://odysee.com/@DistroTube:2/some-additional-thoughts-about-gemini:4</a><br/>
<br/>
TITLE: LeftWM Is A Tiling Window Manager Written In Rust<br/>
<a href="https://odysee.com/@DistroTube:2/leftwm-is-a-tiling-window-manager:9">https://odysee.com/@DistroTube:2/leftwm-is-a-tiling-window-manager:9</a><br/>
<br/>
TITLE: Solus Continues To Impress Me With Each Release <br/>
<a href="https://odysee.com/@DistroTube:2/solus-continues-to-impress-me-with-each:6">https://odysee.com/@DistroTube:2/solus-continues-to-impress-me-with-each:6</a><br/>
<br/>
TITLE: The 100K Live Stream<br/>
<a href="https://odysee.com/@DistroTube:2/the-100k-live-stream:f">https://odysee.com/@DistroTube:2/the-100k-live-stream:f</a><br/>
<br/>
TITLE: Gemini Is What The Web Should Have Been<br/>
<a href="https://odysee.com/@DistroTube:2/gemini-is-what-the-web-should-have-been:9">https://odysee.com/@DistroTube:2/gemini-is-what-the-web-should-have-been:9</a><br/>
<br/>
TITLE: Read Your RSS Feeds With NewsFlash<br/>
<a href="https://odysee.com/@DistroTube:2/read-your-rss-feeds-with-newsflash:4">https://odysee.com/@DistroTube:2/read-your-rss-feeds-with-newsflash:4</a><br/>
<br/>
TITLE: How To Enable DRM Restricted Content In LibreWolf<br/>
<a href="https://odysee.com/@DistroTube:2/how-to-enable-drm-restricted-content-in:d">https://odysee.com/@DistroTube:2/how-to-enable-drm-restricted-content-in:d</a><br/>
<br/>
TITLE: Rust Programs Every Linux User Should Know About<br/>
<a href="https://odysee.com/@DistroTube:2/rust-programs-every-linux-user-should:d">https://odysee.com/@DistroTube:2/rust-programs-every-linux-user-should:d</a><br/>
<br/>
TITLE: Tabliss Is A &quotNew Tab&quot Plugin For Firefox and Chrome<br/>
<a href="https://odysee.com/@DistroTube:2/tabliss-is-a-new-tab-plugin-for-firefox:4">https://odysee.com/@DistroTube:2/tabliss-is-a-new-tab-plugin-for-firefox:4</a><br/>
<br/>
TITLE: Attention Arch Users! Replace &#39Yay&#39 With &#39Paru&#39.<br/>
<a href="https://odysee.com/@DistroTube:2/attention-arch-users-replace-yay-with:b">https://odysee.com/@DistroTube:2/attention-arch-users-replace-yay-with:b</a><br/>
<br/>
TITLE: &quotHey, DT. Why LibreOffice Instead Of OpenOffice?&quot Plus Other Questions.<br/>
<a href="https://odysee.com/@DistroTube:2/hey-dt-why-libreoffice-instead-of:3">https://odysee.com/@DistroTube:2/hey-dt-why-libreoffice-instead-of:3</a><br/>
<br/>
TITLE: Configuring The Xmobar Panel In Xmonad<br/>
<a href="https://odysee.com/@DistroTube:2/configuring-the-xmobar-panel-in-xmonad:8">https://odysee.com/@DistroTube:2/configuring-the-xmobar-panel-in-xmonad:8</a><br/>
<br/>
TITLE: A First Look At Manjaro Sway Edition<br/>
<a href="https://odysee.com/@DistroTube:2/a-first-look-at-manjaro-sway-edition:8">https://odysee.com/@DistroTube:2/a-first-look-at-manjaro-sway-edition:8</a><br/>
<br/>
TITLE: LibreWolf Is A Web Browser For Privacy and Freedom<br/>
<a href="https://odysee.com/@DistroTube:2/librewolf-is-a-web-browser-for-privacy:9">https://odysee.com/@DistroTube:2/librewolf-is-a-web-browser-for-privacy:9</a><br/>
<br/>
TITLE: DistroToot Is Now Accepting New Members<br/>
<a href="https://odysee.com/@DistroTube:2/distrotoot-is-now-accepting-new-members:f">https://odysee.com/@DistroTube:2/distrotoot-is-now-accepting-new-members:f</a><br/>
<br/>
TITLE: Beginner&#39s Guide To The Linux Terminal<br/>
<a href="https://odysee.com/@DistroTube:2/beginner-s-guide-to-the-linux-terminal:8">https://odysee.com/@DistroTube:2/beginner-s-guide-to-the-linux-terminal:8</a><br/>
<br/>
TITLE: Banned From Mastodon? #MeToo<br/>
<a href="https://odysee.com/@DistroTube:2/banned-from-mastodon-metoo:f">https://odysee.com/@DistroTube:2/banned-from-mastodon-metoo:f</a><br/>
<br/>
TITLE: Mozilla No Longer Supports A Free Internet<br/>
<a href="https://odysee.com/@DistroTube:2/mozilla-no-longer-supports-a-free:5">https://odysee.com/@DistroTube:2/mozilla-no-longer-supports-a-free:5</a><br/>
<br/>
TITLE: Trading Stocks On Linux<br/>
<a href="https://odysee.com/@DistroTube:2/trading-stocks-on-linux:1">https://odysee.com/@DistroTube:2/trading-stocks-on-linux:1</a><br/>
<br/>
TITLE: The Kimafun Dual Wireless Microphone Set<br/>
<a href="https://odysee.com/@DistroTube:2/the-kimafun-dual-wireless-microphone-set:c">https://odysee.com/@DistroTube:2/the-kimafun-dual-wireless-microphone-set:c</a><br/>
<br/>
TITLE: Kitty Is A Fast And Feature Rich Terminal Emulator<br/>
<a href="https://odysee.com/@DistroTube:2/kitty-is-a-fast-and-feature-rich:e">https://odysee.com/@DistroTube:2/kitty-is-a-fast-and-feature-rich:e</a><br/>
<br/>
TITLE: Installation and First Look of Deepin 20.1<br/>
<a href="https://odysee.com/@DistroTube:2/installation-and-first-look-of-deepin-20:6">https://odysee.com/@DistroTube:2/installation-and-first-look-of-deepin-20:6</a><br/>
<br/>
TITLE: Good Riddance, 2020.  How You Doin&#39, 2021?!  (DT LIVE)<br/>
<a href="https://odysee.com/@DistroTube:2/good-riddance-2020-how-you-doin-2021-dt:e">https://odysee.com/@DistroTube:2/good-riddance-2020-how-you-doin-2021-dt:e</a><br/>
<br/>
<h2>Video Categories</h2>
<br/>
<a href="../videos/2017-videos.html">Videos from 2017</a><br/>
<a href="../videos/2018-videos.html">Videos from 2018</a><br/>
<a href="../videos/2019-videos.html">Videos from 2019</a><br/>
<a href="../videos/2020-videos.html">Videos from 2020</a><br/>
<a href="../videos/2021-videos.html">Videos from 2021</a><br/>
